main {
    display: flex;
    margin-top: 4rem;
}

main .column {
    flex: 50%;
    text-align: center;
}

main > .column {
    border-right: 1px solid #ffffff;
    height: 30rem;
    padding: 0 3rem;
}

main > .column .description {
    padding: 1.5rem;
}

main > .column + .column {
    border: none;
}

main > .column + .column h4 {
    text-align: left;
    margin: 2.4rem 0;
}

#logo {
    width: 250px;
}

.social-icons {
    display: flex;
    align-items: center;
}

.social-icons img {
    width: 50px;
    margin: 0 1rem;
}