main {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

main h1 {
    font-size: 80px;
}

footer {
    margin-top: 5rem;
    text-align: center;
}

/* footer .column {
    flex: 50%;
    margin-right: 2rem;
}

 footer > .column {
    padding: 50px 55px;
}

footer > .column + .column {
    padding: 20px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
} */

footer h4 {
    text-decoration: underline;
}

footer p {
    text-align: center;
    padding: 0 8rem;
}

/* footer > .column + .column input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: white;
    background: transparent;
    text-align: right;
    color: white;
    margin-bottom: 1rem;
}

footer > .column + .column p {
    text-align: left;
    margin: 2px;
} */